*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


.container{
	margin-left: 13%;
	width: 85%;
	overflow: hidden;

}

#Warning{
	margin-top: 100px;
		text-align: center;
}

.alert-warning{
	
	padding: 20px;
  background-color: #ff9800;
  color: white;
  text-align: center;
  /*margin-top: 20px;*/
  border-radius: 25px;
  animation-name: fade;
  animation-duration: 2s;
}

.test{
}

.col{
	border-radius: 25px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-right: 3%;
	padding-left: 3%;
	font-weight: normal;
	color: white;
	background-color: red;
}
.stu-report-date{
	margin-top: 15px;
	width: 100%;
	text-align: center;
}
.stu-report-date h3{
	display: inline-block;
	padding-left: 25px;
	padding-right: 8px;
	font-family: 'Poppins', sans-serif;
}
.btn{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	border-radius: 25px;
	font-weight: bold;
	border-color: #144595;
	letter-spacing: 1px;
	color: #144595;
	text-align: center;
}
.btn:hover{
	background-color:#144595;
	color: white;
	border: 2px solid #144595;
	transition: 1s ease-out; 
}
#tab{
	margin-top: 0px;

}

table{
	width: 100%;
	align-items: center;
	margin:auto;
}
table,th,td{
	margin-top: 50px;
	text-align: center;
	border-collapse: separate;
	border-spacing:0 10px; 

}
th,td{
	padding: 10px;
}
th{
	background-color: #003366;
	color: white;
}
tr:nth-child(odd){
	background-color:#dddddd;
}
tr:nth-child(even){
	background-color: lightblue;
}
label{
	color: white;
	position: relative;
	cursor: pointer;
	padding: 3px;
}

label input{
	display: none;
}

label span{
	position: relative;
	display: inline-block;
	width: 90px;
	margin:5px;
	border:1px solid #444;
	color: #444;
	border-radius: 7px;
	/*padding:3px;*/
}

label input:checked ~span{
	color: #fff;
	border:1px solid #008eff;
}
label input:checked ~span:before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background:#008eff;
	z-index: -1;
	filter: blur(10px);
}

label input:checked ~span:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background:#008eff;
	z-index: -1;
	filter: blur(15px);
}
label input:checked ~span.accept{
	color: #62ff00;
	border-color: #62ff00;
	box-shadow: inset 0 0 10px #62ff00;
}
label input:checked ~span.accept:before,
label input:checked ~span.accept:after{
	background-color:#62ff00;
}

label input:checked ~span.reject{
	color: #ff0000;
	border-color: #ff0000;
	box-shadow: inset 0 0 10px #ff0000;
}
label input:checked ~span.reject:before,
label input:checked ~span.reject:after{
	background-color:#ff0000;
}

button{
	cursor: pointer;
	border:2px solid transparent;
	padding: 2px;
	border-radius: 14px;
	margin:10px;
	width: 70px;
	/*box-shadow: inset 0 0 10px white;*/
	background-color:dodgerblue;
	color: white;
	font-size: medium;
}
button:hover,button:active{
	background-color:hsl(0, 100%, 50%);
	color: white;
	transition: 0.6s ease;
}

#btn{
	text-align: center;
	margin-top: 25px;
}
#btn .bt{
	width: 100px;
	border:2px solid red;
	padding: 5px;
	cursor: pointer;
	border-radius: 8px;
	/*background-color: white;*/
	font-size: 14px;
}

.bt:hover,.bt:active{
	background-color:black;
	color: red;
	transition: 0.6s ease;
}























/*---------------------------- TOP NAVIGATION BAR ---------------------------------*/
.top-nav-bar{
	height: 65px;
	background-color: #144595;
	font-family: 'Poppins', sans-serif;
	color: white;
	position: fixed;
	width: 100%;
	border-bottom: 2px solid red;
	top: 0;
	  z-index: 1;
}
.top-nav-bar h1{
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 4px;
	letter-spacing: 2px;
	animation-name: fade;
	animation-duration: 1s;
}
.top-nav-bar-ul{
	float: right;
	list-style-type: none;
	margin-right: 20px;
	margin-top:20px;
	margin-bottom: 15px;
	margin-left: 4px; 
}
.top-nav-bar-ul li{
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: 2px;
	padding: 2px 2px;
}
.top-nav-bar-ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding-right: 6px;
	padding-left: 6px;
	animation-name: fade;
	animation-duration: 1s;
}
.top-nav-bar-ul li a:hover{
	background-color: #ff4d4d;
	color: #144595;
	border-radius: 25px;
	transition:all 0.5s ease-out;
	font-weight: bold;
}
.top-nav-bar-burger{
	display: none;
}

.sidenav{
	display: none;
}

/*--------------------------- SIDE NAVIGATION BAR ---------------------------------*/
.side-nav-bar{
	top: 65px;
	position: fixed;
	background-color: #eaeae1;
	width: 170px;
	height: 100vh;
}
.side-nav-bar li{
	list-style-type: none;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Poppins', sans-serif;

}
.side-nav-bar li a{
	text-decoration: none;
	color: black;
	font-size: 25px;
	padding-right: 3px;
	padding-left: 3px;
	animation-name: faded;
	animation-duration: 1s;
}
#stu-ani-1{
	animation-name: slide;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
#stu-ani-1 a{
	color: transparent;
	animation-name: fade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}
#stu-ani-2{
	animation-name: slide;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
#stu-ani-2 a{
	color: transparent;
	animation-name: fade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}
#stu-ani-3{
	animation-name: slide;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
#stu-ani-3 a{
	color: transparent;
	animation-name: fade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-delay: 0.5s;
}
.side-nav-bar li:hover{
	background-color: #C8C8C8;
	transition:all 0.5s ease-out;
	animation-name: pop;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes fade{
	from{
		opacity: 0;
		color: transparent;
	}
	to{
		opacity: 1;
		color: white;
	}
}
@keyframes faded{
	from{
		opacity: 0;
		color: transparent;
	}
	to{
		opacity: 1;
		color: black;
	}
}
@keyframes slide{
	from{
		background-color: #144595;
		width: 0%;
	}
	to{
		background-color: #144595;
		width: 100%;
	}
}
@keyframes pop{
	from{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0),0 6px 20px 0 rgba(0,0,0,0);
	}
	to{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.66),0 6px 20px 0 rgba(0,0,0,0.66);
	}
}


/*---------------------------------- GREEN BOX SHOWING THE AREA OF MAIN CONTENT WITH A PADDING LEFT OF 170PX--------------------------------------------*/

/*.validate-gfm{
	width:100%;
	height:auto;
	margin-top: 65px;
	position: absolute;
	z-index: -1;
	font-family: 'Poppins', sans-serif;
	padding-left: 170px;
	border: 3px solid green;
}

*/

/*-------------------------------------------------- MEDIA QUERIES -----------------------------------------*/

/*************************************************************************************************************/
/*---------------------------------------          TABLET VIEW             ----------------------------------*/
/*************************************************************************************************************/

@media	(min-width: 481px) and (max-width: 1024px) {
	.validate-gfm{
		padding-left: 0px;
		margin-top: 0px;
		left: 0px;
		margin-right: 0px;
		right:0px;
	}

	.container{

		margin-left: 6%;
			width: 90%;
			overflow: hidden;
		
		}

	/*---------- TOP NAV BAR -------------*/
	.top-nav-bar{
		position: static;
}
	.top-nav-bar h1{
		margin-left: 25%;
		margin-right:5%;
		font-size: xx-large;
		margin-top: 8px;
		color: white;
		font-family: 'Poppins', sans-serif;
		letter-spacing: 2px;
		padding-left: 5%;
		padding-right: 5%;
	}
	.top-nav-bar-ul{
		display: none;
	}
	.top-nav-bar-ul li{
		display: none;
	}
	.top-nav-bar-ul li a{
		display: none;
	}
	.top-nav-bar-ul li a:hover{
		display: none;
	}

	/*----------------------- SIDE NAV BAR -------------------*/
	.side-nav-bar{
		display: none;
	}
	.side-nav-bar li{
		display: none;
	}
	.side-nav-bar li a{
		display: none;	
	}

	/*---------------------- SLIDE NAV BAR --------------------*/
	.sidenav {
		display: block;
  		height: 100%;
  		width: 0;
  		position: fixed;
  		z-index: 1;
  		top: 0;
  		left: 0;
  		background-color: #111;
  		overflow-x: hidden;
  		transition: 0.5s;
  		padding-top: 60px;
	}

	.sidenav a {
  		padding: 8px 8px 8px 32px;
  		text-decoration: none;
  		font-size: 25px;
  		color: #818181;
  		display: block;
  		transition: 0.3s;
  		margin-top: 10px;
  		font-family: 'Poppins', sans-serif;
	}

	.sidenav a:hover {
  		color: #f1f1f1;
	}

	.sidenav .closebtn {
  		position: absolute;
  		top: 0;
  		right: 25px;
  		font-size: 36px;
  		margin-left: 50px;
	}
	.top-nav-bar-burger{
		position: absolute;
		padding-top: 10px;
		padding-left: 20px;
		color: white;
		font-size:30px;
		cursor:pointer;
		display: block;
		animation-name: fade;
		animation-duration: 1s;
	}
	.thin-line::after {
		margin-top: 12px;
    	content: "";
    	background-image: linear-gradient(to right, #111,#818181,#111);
    	height: 2px; /*for horizontal border; width for vertical*/
   		display: block;
	}
	#sp-1{
		color: #f1f1f1;
	}
	#sp-2{
		color: #f1f1f1;
	}
	#sp-3{
		color: #f1f1f1;	
	}
	.stu-apps-heading{
		font-family: 'Poppins', sans-serif;
		font-size: xx-large;
		font-weight: bolder;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 5px;
		letter-spacing: 2px;
		display: block;
	}
	#Warning{
		margin-top: 50px;
		text-align: center;
		left: 0px;
	}
	.container{
		margin-left:8%;
		width: 80%;
		overflow: hidden;
		margin-right: 8%;
	}
	.stu-report-date{
		margin-top: 15px;
		margin-right: 8%;
		text-align: center;
	}
	
}


/*************************************************************************************************************/
/*---------------------------------------          MOBILE VIEW             ----------------------------------*/
/*************************************************************************************************************/

@media (max-width: 480px){
	.validate-gfm{
		padding-left: 0px;
		margin-top: 0px;
		left: 0px;
		margin-right: 0px;
		right:0px;
	}

	.container{

		margin-left: 6%;
			width: 90%;
			overflow: hidden;
		
		}

	/*---------- TOP NAV BAR -------------*/
	.top-nav-bar{
		position: static;
	}
	.top-nav-bar h1{
		font-size: x-large;
		font-weight: bolder;
		text-align: center;
		margin-top: 4%;
		margin-bottom: 5px;
		letter-spacing: 1px;
		margin-left: 20%;
	}
	.top-nav-bar-ul{
		display: none;
	}
	.top-nav-bar-ul li{
		display: none;
	}
	.top-nav-bar-ul li a{
		display: none;
	}
	.top-nav-bar-ul li a:hover{
		display: none;
	}
	/*----------------------- SIDE NAV BAR -------------------*/
	.side-nav-bar{
		display: none;
	}
	.side-nav-bar li{
		display: none;
	}
	.side-nav-bar li a{
		display: none;	
	}
	/*---------------------- SLIDE NAV BAR --------------------*/
	.sidenav {
		display: block;
  		height: 100%;
  		width: 0;
  		position: fixed;
  		z-index: 1;
  		top: 0;
  		left: 0;
  		background-color: #111;
  		overflow-x: hidden;
  		transition: 0.5s;
  		padding-top: 60px;
	}

	.sidenav a {
  		padding: 8px 8px 8px 32px;
  		text-decoration: none;
  		font-size: 25px;
  		color: #818181;
  		display: block;
  		transition: 0.3s;
  		margin-top: 10px;
  		font-family: 'Poppins', sans-serif;
	}

	.sidenav a:hover {
  		color: #f1f1f1;
	}

	.sidenav .closebtn {
  		position: absolute;
  		top: 0;
  		right: 25px;
  		font-size: 36px;
  		margin-left: 50px;
	}
	.top-nav-bar-burger{
		position: absolute;
		padding-top: 10px;
		padding-left: 20px;
		color: white;
		font-size:30px;
		cursor:pointer;
		display: block;
		animation-name: fade;
		animation-duration: 1s;
	}
	.thin-line::after {
		margin-top: 12px;
    	content: "";
    	background-image: linear-gradient(to right, #111,#818181,#111);
    	height: 2px; /*for horizontal border; width for vertical*/
   		display: block;
	}
	#sp-1{
		color: #f1f1f1;
	}
	#sp-2{
		color: #f1f1f1;
	}
	#sp-3{
		color: #f1f1f1;	
	}
	.stu-apps-heading{
		font-family: 'Poppins', sans-serif;
		font-size: xx-large;
		font-weight: bolder;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 5px;
		letter-spacing: 2px;
		display: block;
	}
	.alert-warning{
		font-size: large;
	}
	#Warning{
		margin-top: 50px;
		text-align: center;
		left: 0px;
	}
	.container{
		margin-left:6%;
		width: 80%;
		overflow: hidden;

	}
	.stu-report-date{
		margin-top: 15px;
		margin-right: 8%;
		text-align: center;
	}
	.stu-report-date h3{
		display: block;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	.btn{
		margin-top: 8px;
		margin-bottom: 5px;
}
}