<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" type="image/jpg" href="gp2.png">

    <!--<meta name="display" content="KJCOEMR GATE PASS"> -->

    <title>GFM Page</title>
    <link rel="stylesheet" type="text/css" href="css1/gfm.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
            <a href="new.html"><h1>KJCOEMR GATE PASS</h1></a>
            </div>
            <nav>
                <ul>
                    <li><a href="new.html">HOME</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </nav>      
        </div>
    </header>
    <section id="hd">
    	<div class="container">
    		<h1>Student Verification</h1>
    	</div>
    </section>
    <section id="stu">
        <div class="container">
            <div style="overflow-x: auto;">
            <table>
              <!--  <tr>
                    <td id="hd" colspan="7"><h1>Student Verification</h1></td>
                </tr> -->
                <tr>
                    <th>Sr.no</th>
                    <th>Name</th>
                    <th>Mobile Number</th>
                    <th>Class</th>
                    <th>Roll no</th>
                    <th>GFM Name</th>
                    <th>Approve</th>
                </tr>
                <tr>
                    <td>1.</td>
                    <td>Bharat</td>
                    <td>100</td>
                    <td>FE</td>
                    <td>10</td>
                    <td>Prof. N.Bogiri</td>
                    <td>
                        <form action="" method="post">
                        <label>
                            <input type="radio" name="verify">
                            <span class="accept">ACCEPT</span>
                        </label>
                        <label>
                            <input type="radio" name="verify">
                            <span class="reject">REJECT</span>
                        </label>
                    <button type="submit" name="Submit" value="">Confirm</button>
                    </form></td>
                </tr>
                 <tr>
                    <td>1.</td>
                    <td>Bharat</td>
                    <td>100</td>
                    <td>FE</td>
                    <td>10</td>
                    <td>Prof. N.Bogiri</td>
                    <td>
                        <form action="" method="post">
                        <label>
                            <input type="radio" name="verify">
                            <span class="accept">ACCEPT</span>
                        </label>
                        <label>
                            <input type="radio" name="verify">
                            <span class="reject">REJECT</span>
                        </label>
                    <button type="submit" name="Submit" value="">Confirm</button>
                    </form></td>
                </tr>
                 <tr>
                    <td>1.</td>
                    <td>Bharat</td>
                    <td>100</td>
                    <td>FE</td>
                    <td>10</td>
                    <td>Prof. N.Bogiri</td>
                    <td>
                        <form action="" method="post">
                        <label>
                            <input type="radio" name="verify">
                            <span class="accept">ACCEPT</span>
                        </label>
                        <label>
                            <input type="radio" name="verify">
                            <span class="reject">REJECT</span>
                        </label>
                    <button type="submit" name="Submit" value="">Confirm</button>
                    </form></td>
                </tr>
                 <tr>
                    <td>1.</td>
                    <td>Bharat</td>
                    <td>100</td>
                    <td>FE</td>
                    <td>10</td>
                    <td>Prof. N.Bogiri</td>
                    <td>
                        <form action="" method="post">
                        <label>
                            <input type="radio" name="verify">
                            <span class="accept">ACCEPT</span>
                        </label>
                        <label>
                            <input type="radio" name="verify">
                            <span class="reject">REJECT</span>
                        </label>
                    <button type="submit" name="Submit" value="">Confirm</button>
                    </form></td>
                </tr>
            </table>
        </div>
        </div>
    </section>
<!--<footer>
<p>KJCOEMR GATE PASS,Copyright &copy;2019</p>
</footer>-->
</body>
</html>
