{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" type="image/jpg" href="{% static 'icons/gp2.png' %}">
		<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Francois+One&display=swap" rel="stylesheet">

	<!--<meta name="display" content="KJCOEMR GATE PASS"> -->

	<title>GFM SignUp Form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/institute.css' %}">
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
			<a href="index"><h1>KJCOEMR GATE PASS</h1></a>
			</div>
			<nav>
				<ul>
					<li><a href="index">HOME</a></li>
					<li><a href="about_us">ABOUT</a></li>
					<li><a href="#">CONTACT</a></li>
				</ul>
			</nav>		
		</div>
	</header>
	
<section id="log">
	<div class="container">
		<h1>GFM Sign Up</h1>
	</div>
	
</section>
<section id="textbox">
	<form action="" method="POST">{%csrf_token%}

			<div>
					{%block content%}
					{%for  message in messages %}
					<h2 style="color:red;">{{message}}</h2>
					{%endfor%}
					{%endblock%}
			</div>
	<!-- <div class="container">
		<div class="srch">
			<input type="search" id="searchBox" placeholder="Search Your Name">
		</div>
		<select required="" id="w" name="gfm">
			<option value="Prof.S.Shinde">Prof. S.Shinde</option>
			<option value="Prof.V.B Maral">Prof. V.B Maral</option >
			 <option value="Prof.N.Bogiri">Prof.N.Bogiri</option>
			 <option value="Prof.S.L.Yedage">Prof. S.L.Yedage</option>
			 <option value="Prof.M.Kharche">Prof.M Kharche</option>
		</select>
	</div> -->
	<div class="container">
            <!-- <i class="fa fa-user"></i> -->
            <input type="text" placeholder="First Name" name="first_name" value="" required="">
        </div>
        <div class="container">
            <!-- <i class="fa fa-user"></i> -->
            <input type="text" placeholder="Last Name" name="last_name" value="" required="">
        </div>
	<div class="container">
        <input type="email" placeholder="Email-ID" name="email" value="" required="">
    </div>
     <div class="container">
        <input type="tel" placeholder="Mobile no." name="mobile_no" value="" required="">
    </div>
	<div class="container">
		<input type="text" placeholder="i-card number" name="icard_no" required="">
	</div>
	<div class="container">
		<input type="password" placeholder="Password" name="password1" value="" required="">
	</div>
	<div class="container">
		<input type="password" placeholder="Confirm Password" name="password2" value="" required="">
	</div>
</section>
<section id="btn">
	<div class="container">
<input class="bt" type="submit" name="" value="Sign Up">
	</div>
	</form>
</section>

<section id="msg">
    <div class="container">
        <p>Already Registered? <a href="gfm_login">Log in</a></p>
    </div>
</section>


<script>
    searchBox = document.querySelector("#searchBox");
countries = document.querySelector("#w");
var when = "keyup"; //You can change this to keydown, keypress or change

searchBox.addEventListener("keyup", function (e) {
    var text = e.target.value; 
    var options = countries.options; 
    for (var i = 0; i < options.length; i++) {
        var option = options[i]; 
        var optionText = option.text; 
        var lowerOptionText = optionText.toLowerCase();
        var lowerText = text.toLowerCase(); 
        var regex = new RegExp("^" + text, "i");
        var match = optionText.match(regex); 
        var contains = lowerOptionText.indexOf(lowerText) != -1;
        if (match || contains) {
            option.selected = true;
            return;
        }
        searchBox.selectedIndex = 0;
    }
});
</script>



<!--<footer>
<p>KJCOEMR GATE PASS,Copyright &copy;2019</p>
</footer>-->
</body>
</html>